name: update

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Check Python version
      run: |
        which python
        python --version

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install aiohttp feedparser beautifulsoup4 requests
        python -m pip list

    - name: Fetch MP list
      run: python fetch_mps.py

    - name: Fetch MP Twitter handles
      run: python fetch_handles.py

    - name: Fetch MP tweets
      run: python fetch_twitter.py

    - name: Generate analytics
      run: python dashboard.py

    - name: Commit updated data
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add data/
        git commit -m "Auto update data" || echo "No changes"

    - name: Upload Pages Artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: .

  deploy:
    needs: update
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
